/* Estilização do corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Estilização do menu de navegação */
  nav {
    background-color: #333;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
  }
  
  nav ul li a:hover {
    background-color: #575757;
  }
  
  /* Estilização da seção principal */
  section {
    padding: 20px;
  }
  
  /* Estilização dos artigos */
  article {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilização das figuras e imagens */
  figure {
    display: flex;
    justify-content: space-between;
  }
  
  img {
    width: 300px;
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 5px;
  }
  
  /* Estilização dos links */
  .button-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .button-link:hover {
    background-color: #575757;
  }
  
  /* Estilização do rodapé */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  