body {
    background-color: rgb(178, 211, 200);
}

h1 {
    font:bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #052f5c;
    text-align: center;
}

h2 {
    font-size: x-large;
    color: #000;
    text-align: center;
    padding: 10px;
}

p {
    font-size: medium;
    color: #000;
    line-height: 1.6;
    padding: 10px;
    text-align: center;
}

a {
    color: #1936d8;
    font-size: medium;
    align-items: center;
        
}

img {
    padding-left: 200px;
    max-block-size: 300px;
    align-self: center;
        
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #24443e;
    border-radius: 8px;
    }

footer {
    background-color: #898989;
    font-size: small;
    font: 1em sans-serif;
    text-align: center;
    padding: 5px;
}