header {
    font-family: 'Lucida Sans', Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c11c5;
    color: rgba(249, 244, 244, 0.147);
    padding: 16px;
}

main {
    background-color: #807062;
    padding: 16px;
    color: white;
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
body {
    background-color: rgb(178, 211, 200);
}

h1 {
    font:bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #b4b9c0;

    text-align: center;
}

h2 {
    font-size: x-large;
    color: #1be2c4;
    text-align: center;
    padding: 10px;
}

p {
    font-size: medium;
    color: white;
    line-height: 1.6;
    padding: 10px;
    text-align: center;
}

a {
    justify-content: space-around;
    color: #1936d8;
    font-size: medium;        
}

img {
    size: 400px;
    padding-left: 100px;
    max-block-size: 400px;
    align-self: center;
        
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #24443e;
    border-radius: 8px;
}
    ul {
        display: flex;
        justify-content: flex-end;
    }

footer {
    background-color: #898989;
    font-size: small;
    font: 1em sans-serif;
    text-align: center;
    padding: 5px;
}